[submodule "folly"]
    path = folly/src
    url = https://github.com/facebook/folly.git
[submodule "thrift/src"]
    path = thrift/src
    url = https://github.com/facebook/fbthrift.git
[submodule "proxygen/src"]
    path = proxygen/src
    url = https://github.com/facebook/proxygen
[submodule "mcrouter/src"]
    path = mcrouter/src
    url = https://github.com/facebook/mcrouter
[submodule "re2/src"]
    path = re2/src
    url = https://github.com/google/re2.git
[submodule "squangle/squangle"]
    path = squangle/src
    url = https://github.com/facebook/squangle.git
[submodule "wangle/src"]
    path = wangle/src
    url = https://github.com/facebook/wangle
[submodule "fb-mysql/mysql-5.6"]
	path = fb-mysql/mysql-5.6
    url = https://github.com/facebook/mysql-5.6.git
[submodule "brotli/src"]
    path = brotli/src
    url = https://github.com/google/brotli
[submodule "double-conversion"]
    path = double-conversion
    url = https://github.com/google/double-conversion
    ignore = dirty
[submodule "fastlz/src"]
    path = fastlz/src
    url = https://github.com/ariya/FastLZ
[submodule "libafdt/src"]
    path = libafdt/src
    url = https://github.com/facebook/libafdt
[submodule "lz4/src"]
    path = lz4/src
    url = https://github.com/Cyan4973/lz4
[submodule "libzip/src"]
    path = libzip/src
    url = https://github.com/nih-at/libzip
    ignore = dirty
[submodule "fatal"]
    path = fatal
    url = https://github.com/facebook/fatal
[submodule "ocaml/src"]
    path = ocaml/src
    url = https://github.com/ocaml/ocaml.git
[submodule "ocaml/ocamlbuild"]
    path = ocaml/ocamlbuild
    url = https://github.com/ocaml/ocamlbuild
[submodule "zstd"]
    path = zstd/src
    url = https://github.com/facebook/zstd.git
[submodule "ocaml/opam"]
	path = ocaml/opam
	url = https://github.com/ocaml/opam.git
[submodule "ocaml/opam_deps/ocaml-extlib"]
	path = ocaml/opam_deps/ocaml-extlib
	url = https://github.com/ygrek/ocaml-extlib.git
[submodule "ocaml/opam_deps/ocaml-re"]
	path = ocaml/opam_deps/ocaml-re
	url = https://github.com/ocaml/ocaml-re.git
[submodule "ocaml/opam_deps/cmdliner"]
	path = ocaml/opam_deps/cmdliner
	url = https://github.com/dbuenzli/cmdliner.git
[submodule "ocaml/opam_deps/ocamlgraph"]
	path = ocaml/opam_deps/ocamlgraph
	url = https://github.com/backtracking/ocamlgraph.git
[submodule "ocaml/opam_deps/cudf"]
	path = ocaml/opam_deps/cudf
	url = https://scm.gforge.inria.fr/anonscm/git/cudf/cudf.git
[submodule "ocaml/opam_deps/dose"]
	path = ocaml/opam_deps/dose
	url = https://scm.gforge.inria.fr/anonscm/git/dose/dose.git
[submodule "ocaml/opam_deps/uutf"]
	path = ocaml/opam_deps/uutf
	url = https://github.com/dbuenzli/uutf.git
[submodule "ocaml/opam_deps/jsonm"]
	path = ocaml/opam_deps/jsonm
	url = https://github.com/dbuenzli/jsonm.git
[submodule "xed/mbuild"]
	path = xed/mbuild
	url = https://github.com/intelxed/mbuild.git
[submodule "xed/xed"]
	path = xed/xed
	url = https://github.com/intelxed/xed.git
