*~
*.a
*.la
*.lo
*.log
*.o
*.Plo
*.so
*.sum
*.tmp
*.Tpo
*.tar.gz
*.tar.bz2
.deps
.gdb_history
.libs
site.exp
site.bak
aclocal.m4
autom4te.cache
config.guess
config.h
config.h.in
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
Makefile
Makefile.in
missing
stamp-h1
tests/conv_encoding
tests/conv_kana
tests/strcut
tests/strwidth
tests/conv_encoding.tests/CP932.TXT
tests/conv_encoding.tests/uni_to_cp932.exp
tests/conv_encoding.tests/uni_to_cp50220.exp
tests/conv_encoding.tests/uni_to_cp50222.exp
tests/conv_encoding.tests/cp932_to_uni.exp
tests/conv_encoding.tests/gen_exp
filters/8859-1.TXT
filters/8859-2.TXT
filters/8859-3.TXT
filters/8859-4.TXT
filters/8859-5.TXT
filters/8859-6.TXT
filters/8859-7.TXT
filters/8859-8.TXT
filters/8859-9.TXT
filters/8859-10.TXT
filters/8859-11.TXT
filters/8859-13.TXT
filters/8859-14.TXT
filters/8859-15.TXT
filters/8859-16.TXT
mbfl/eaw_table.h

#CMake stuff
/CMakeCache.txt
cmake_install.cmake
CMakeFiles
